{% extends "base.html" %}
{% block title %}
    {{ account.email }}
{% endblock title %}
{% block content %}
    <form method="POST" class="is-invalid" action="{{ url_for("app_blueprint.do_save_account", account_id=account.id) }}">
        {% if form.errors %}
            <div style="color:red">
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {{ form.csrf_token }}
        <div class="form-group row">
            <label for="email" class="col-sm-1 col-form-label">{{ form.email.label }}</label>
            <div class="col-sm-4">
                {{ form.email(class="form-control", id="email", placeholder="Email", type="email", value=account.email, required=true) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Name</label>
            <div class="col-sm-2">
                {{ form.first_name(class="form-control", id="firstName", placeholder="First Name", type="text", value=account.first_name if account.first_name is not none) }}
            </div>
            <div class="col-sm-2">
                {{ form.last_name(class="form-control", id="lastName", placeholder="Last Name", type="text", value=account.last_name if account.last_name is not none) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Phone</label>
            <div class="col-sm-2">
                {{ form.home_phone(class="form-control", id="homePhone", placeholder="Home Phone", type="text", value=account.home_phone if account.home_phone is not none) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label">Mobile</label>
            <div class="col-sm-2">
                {{ form.mobile_phone(class="form-control", id="mobilePhone", placeholder="Mobile Phone", type="text", value=account.mobile_phone if account.mobile_phone is not none) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>

{% endblock content %}