<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GTM - {% block title %}default{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid">
    {% block body %}
        {% block header %}
            <h1>Email Subscription Manager</h1>
            <ul>
                <li><a href="{{ url_for("app_blueprint.show_home") }}">Home</a></li>
                <li><a href="{{ url_for("app_blueprint.show_accounts") }}">Accounts</a></li>
                <li>Subscriptions</li>
            </ul>
        {% endblock header %}
        <hr>
        {% block content %}

        {% endblock content %}
    {% endblock body %}
    </div>
</body>
</html>